@font-face {
  font-family: 'Pixel miners';
  src: url('../../src/assets/fonts/pixel-miners.woff2') format('woff2'),
       url('../../src/assets/fonts/pixel-miners.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background: #000;
  min-height: 100vh;
  font-family: 'Pixel miners';
}

#game {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
